{%  for category in categories %}
    <li class="dropdown-menu__item item--bgColor">
        <a href="" class="dropdown-menu__link" key="good">
            {% with test=LANGUAGE_CODE %}
                {% if test == 'ru' %}{{ category }}{% else %}{{ category.title_kg }}{% endif %}
            {% endwith %}
        </a>
    </li>
{% endfor %}