 <div class="pagination">
     {% if page_obj.has_previous %}
         <a href="?page={{ page_obj.previous_page_number }}" class="pagination__btn">&laquo;</a>
     {% endif %}

    {% for l in page_obj.paginator.page_range %}
        {% if forloop.counter < 4 %}
            <a href="?page={{ forloop.counter }}" class="pagination__btn">{{forloop.counter}}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination__btn">&raquo;</a>
    {% endif %}
 </div>
