<div class="pagination">
     {% if data.has_previous %}
         <a href="?search_tale={{ request.GET.search_tale }}&page={{ data.previous_page_number }}"
            class="pagination__btn">&laquo;</a>
     {% endif %}

    {% for l in data.paginator.page_range %}
        {% if forloop.counter < 4 %}
            <a href="?search_tale={{ request.GET.search_tale }}&page={{ forloop.counter }}"
               class="pagination__btn">{{forloop.counter}}</a>
        {% endif %}
    {% endfor %}

    {% if data.has_next %}
        <a href="?search_tale={{ request.GET.search_tale }}&page={{ data.next_page_number }}"
           class="pagination__btn">&raquo;</a>
    {% endif %}
 </div>