{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block meta_description %}Smart Jomok{% endblock %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7852f64c69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
    <link rel="icon" href="{% static 'webapp/images/faviconSJ.png' %}">
    <title>{% block title %} Smart jomok {% endblock %}</title>
</head>
<body>
<div class="blur"></div>

<div class="container">

    <header class="header">
        <div class="lang-container">
            <div class="header__lang">
                <a href="{% url 'webapp:lang' %}?lang=ru&next={{ request.build_absolute_uri }}" class="lang__item"
                   id="ru">рус</a>
                <a href="{% url 'webapp:lang' %}?lang=ky&next={{ request.build_absolute_uri }}" class="lang__item"
                   id="kyr">кыр</a>
            </div>
        </div>

        <div class="logo">
            <a href="{% url 'webapp:welcome' %}" class="logo__img">
                <img src="{% static 'webapp/images/logo.png' %}" alt="logo">
            </a>
        </div>

        <nav class="nav" id="sitemaps">
            <div class="nav__menu-toggle" id="mobile-menu">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>
            <ul class="nav__list">
                <li class="nav__item">
                    <img src="../../static/webapp/images/pic-menu1.png" alt="maze">
                    <a href="{% url 'webapp:labyrinth' %}" class="nav__link lang" key="maze">Лабиринт</a>
                </li>
                <li class="nav__item dropdown">
                    <img src="../../static/webapp/images/pic-menu2.png" alt="">
                    <a href="{% url 'webapp:teach_tale_categories' %}" class="nav__link link--submenu lang"
                       key="teaching">
                        Обучающие
                    </a>
                    <ul class="dropdown-menu dropdown-menu__list">
                        {% include 'partial/categories.html' %}
                    </ul>
                </li>
                <li class="nav__item">
                    <img src="../../static/webapp/images/pic-menu3.png" alt="">
                    <a href="{% url 'webapp:parent' %}" class="nav__link lang" key="parents">Родителям</a>
                </li>
            </ul>
        </nav>

        <div class="search">
            <button class="btn show-form">
                <i class="fas fa-search"></i>
            </button>
            <div class="search__popup">
                <form action="{% url 'webapp:search' %}" method="get" class="search__form">
                    <input type="text" name="search_tale" placeholder="Поиск..." value="">
                    <button class=" btn search__btn" type="submit" value="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="footer-wrap">
            <div class="footer__logo">
                <a href="#" class="logo__img">
                    <img src="{% static 'webapp/images/logo.png' %}" alt="logo">
                </a>
            </div>

            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="{% url 'webapp:labyrinth' %}" class="nav__link  lang" key="maze">Лабиринты</a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'webapp:teach_tale_categories' %}" class="nav__link lang" key="teaching">
                            Обучающие
                        </a>
                        <ul class="dropdown-menu dropdown-menu__list">
                            {% include 'partial/categories.html' %}
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'webapp:parent' %}" class="nav__link lang" key="parents">Родителям</a>
                    </li>
                </ul>
            </nav>

            <ul class="social-icon">
                <li class="social-icon__item">
                    <a href="#" class="social-icon__link">
                        <i class="fab fa-vk"></i>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a href="#" class="social-icon__link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a href="#" class="social-icon__link">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a href="#" class="social-icon__link">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a href="#" class="social-icon__link">
                        <i class="fas fa-at"></i>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a href="#" class="social-icon__link">
                        <i class="fab fa-odnoklassniki special--ok"></i>
                    </a>
                </li>
            </ul>

        </div>
        <div class="copy_right">
            <span>© 2020 / Hackaton / UTL</span>
        </div>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'webapp/js/jquery.breadcrumbs-generator.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="{% static 'webapp/js/translate.js' %}"></script>
<script src="{% static 'webapp/js/index.js' %}"></script>
</body>
</html>