{% extends 'base.html' %}
{% load static %}
{% block meta_description %} Smart Jomok - All stories {% endblock %}
{% block title %} {% endblock %}
{% block content %}
<div class="breadcrumb catalog--margin">
    <ol class="breadcrumb__list" id="breadcrumbs">
        <li class="breadcrumb__item">
            <a href="{% url 'webapp:home' %}" class="breadcrumb__link">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb__item latest lang" key="catalog">
            Каталог сказак
        </li>
    </ol>
</div>

<section class="catalog">
    <div class="card-container card-size">
        {% for labyrinth in labyrinths %}
        <a href="{% url 'webapp:labyrinth_detail' labyrinth.id %}">
            <div class="card-tale">
                <div class="card-tale__photo">
                    <img src="{{ labyrinth.images.url }}" alt="">
                </div>
                <div class="card-tale__info">
                    <h2 class="card-tale__name">{{ labyrinth.title }}</h2>
                    <div class="wrapin">
                        <span class="card-tale__author">
                            {% if labyrinth.author %}{{ labyrinth.author }}{% endif %}
                        </span>
                        <span class="card-tale__category">
                            Лабиринты
                        </span>
                    </div>
                    <p class="card-tale__text">
                        {{ labyrinth.text|truncatewords:20 }}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
</section>
{% endblock %}
