{% extends 'base.html' %}
{% load static %}
{% block meta_description %}Smart Jomok - Labyrinth {% endblock %}
{% block title %} Smart Jomok | Лабиринт {% endblock %}
{% block content %}
<div class="breadcrumb all--margin">
    <ol class="breadcrumb__list" id="breadcrumbs">
        <li class="breadcrumb__item">
            <a href="index.html" class="breadcrumb__link">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb__item">
            <a href="{% url 'webapp:labyrinth' %}" class="breadcrumb__link lang" key="maze">Лабиринты</a>
        </li>
        <li class="breadcrumb__item latest dark--clr">
              {{ labyrinth.title }}
                 {% if labyrinth.author %}{{ labyrinth.author }}{% endif %}
        </li>
    </ol>
</div>
<section class="detail">
    <div class="detail-wrapper">
    <h2 class="detail__title">{{ labyrinth.title }}</h2>
        <p class="detail__text">{{ labyrinth.text }}</p>
           <img src="{{ labyrinth.images.url }}" class="detail__image" alt="hedgehog">
        <p class="detail__text">
            {% if labyrinth.second_text %}{{ labyrinth.second_text }}{% endif %}
        </p>
        <div class="btn-block">
            {% if answers %}
                {% for answer in answers %}
                    <a href="{{ answer.go_to.get_absolute_url }}" class="detail__btn">{{ answer.text }}</a>
                {% endfor %}
            {% else %}
                <p class="detail__author">
                    {% if labyrinth.author %}
                        {{ labyrinth.author }}
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}