{% extends 'base.html' %}
{% load  static %}
{% block meta_description %}Smart Jomok - Home page {% endblock %}
{% block content %}
<section class="greeting greeting--mp-full">
    <div class="greeting__left">
        <p class="greeting__title lang" key="greet">Добро пожаловать в</p>
        <h1 class="greeting__title-main">Smart-Jomok!</h1>
        <p class="greeting__info lang" key="info">
            Это сервис для детей и взрослых, который предоставляет возможность
            узнать и понять лучше ребёнка через сказкотерапию.
        </p>
        <a href="{% url 'webapp:catalog' %}" class="greeting__btn lang" key="tale_btn">Перейти к сказкам</a>
    </div>
    <div class="greeting__right">
        <img src="{% static 'webapp/images/main-pic.png' %}" alt="parents">
    </div>
</section>

<section class="category">

    <div class="cards-container">
        <div class="card">
            <a href="{% url 'webapp:labyrinth' %}" class="custom-card">
                <div class="card__photo">
                    <img src="{% static 'webapp/images/labs.png' %}" alt="">
                </div>
                <div class="card__body">
                    <h2 class="card__name lang" key="maze">Лабиринты</h2>
                    <p class="card__description lang" key="text-m">
                        С помощью сказок лабиринтов можно,
                        узнать как мыслит ваш ребенок, для более
                        легкого прохождения имеются варианты.
                    </p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'webapp:teach_tale_categories' %}" class="custom-card">
                <div class="card__photo">
                    <img src="{% static 'webapp/images/book.png' %}" alt="">
                </div>
                <div class="card__body">
                <h2 class="card__name lang" key="teaching">Обучающие</h2>
                <p class="card__description lang" key="text-t">
                    В этой категории собраны сказки по категориям, которые могут обучить
                    Вашего ребенка:
                </p>
                </div>
            </a>
            <ul class="card__list">
                <li class="card__item">
                    <a href="#" class="card__link lang" key="good">
                        Доброте
                    </a>
                </li>
                <li class="card__item">
                    <a href="#" class="card__link lang" key="trying">
                        Старанию
                    </a>
                </li>
                <li class="card__item">
                    <a href="#" class="card__link lang" key="friendship">
                        Дружбе
                    </a>
                </li>
            </ul>
        </div>


        <div class="card">
            <a href="{% url 'webapp:parent' %}" class="custom-card">
                <div class="card__photo">
                    <img src="{% static 'webapp/images/parents.png' %}" alt="">
                </div>
               <div class="card__body">
                   <h2 class="card__name lang" key="parents">Родителям</h2>
                   <p class="card__description lang" key="text-p">
                       Здесь собраны сказки, которые вы можете обсуждать
                       вместе с вашим ребенком. Они побуждают к общению.
                       Вы, как никто другой, можете помочь своему ребенку.
                   </p>
               </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}