{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block meta_description %}Smart Jomok{% endblock %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7852f64c69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
    <link rel="icon" href="{% static 'webapp/images/faviconSJ.png' %}">
    <title>{% block title %} Smart jomok {% endblock %}</title>
</head>
<body>
<div class="blur"></div>
<div class="container">
    <header class="header">
        <div class="lang-container">
            <div class="header__lang">
                <a href="{% url 'webapp:lang' %}?lang=ru&next={{ request.build_absolute_uri }}" class="lang__item"
                   id="ru">рус</a>
                <a href="{% url 'webapp:lang' %}?lang=ky&next={{ request.build_absolute_uri }}" class="lang__item"
                   id="kyr">кыр</a>
            </div>
        </div>
        <div class="logo">
            <a href="{% url 'webapp:home' %}" class="logo__img">
                <img src="{% static 'webapp/images/logo.png' %}" alt="logo">
            </a>
        </div>

        <nav class="nav" id="sitemaps">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="{% url 'webapp:labyrinth' %}" class="nav__link lang" key="maze">Лабиринт</a>
                </li>
                <li class="nav__item dropdown">
                    <a href="{% url 'webapp:teach_tale_categories' %}" class="nav__link link--submenu lang" key="teaching">
                        Обучающие
                    </a>
                    <ul class="dropdown-menu dropdown-menu__list">
                        {% include 'partial/categories.html' %}
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="{% url 'webapp:parent' %}" class="nav__link lang" key="parents">Родителям</a>
                </li>
            </ul>
        </nav>

        <div class="search">
            <button class="btn show-form">
                <i class="fas fa-search"></i>
            </button>
            <div class="search__popup">
                <form action="{% url 'webapp:search' %}" method="get" class="search__form">
                    <input type="text" name="search_tale" placeholder="Поиск..." value="">
                    <button class=" btn search__btn" type="submit" value="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>

    <section class="greeting greeting--mp">
        <div class="greeting__left">
            <p class="greeting__title lang" key="greet">Добро пожаловать в</p>
            <h1 class="greeting__title-main">Smart-Jomok!</h1>
            <p class="greeting__info lang" key="info">
                Это сервис для детей и взрослых, который предоставляет возможность
                узнать и понять лучше ребёнка через сказкотерапию.
            </p>
            <a href="{% url 'webapp:home' %}" class="greeting__btn lang" key="tale_btn">Перейти к сказкам</a>
        </div>
        <div class="greeting__right">
            <img src="{% static 'webapp/images/family.png' %}" alt="parents">
        </div>
    </section>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'webapp/js/jquery.breadcrumbs-generator.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="{% static 'webapp/js/translate.js' %}"></script>
<script src="{% static 'webapp/js/index.js' %}"></script>
</body>
</html>