{% extends 'base.html' %}
{% load static %}
{% block meta_description %}Smart Jomok - Labyrinth {% endblock %}
{% block title %} {% endblock %}
{% block content %}
<div class="breadcrumb all--margin">
    <ol class="breadcrumb__list" id="breadcrumbs">
        <li class="breadcrumb__item">
            <a href="{% url 'webapp:home' %}" class="breadcrumb__link">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb__item latest blue--clr lang" key="maze">
            Лабиринты
        </li>
    </ol>
</div>
<section class="about-maze">
    <h1 class="title lang" key="maze">Лабиринты</h1>
    <div class="about-wrap">
        <p class="text lang" key="text-m">
            С помощью сказок лабиринтов можно, узнать как мыслит ваш ребенок,
            для более легкого прохождения имеются варианты.Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor,or sit amet, consectetur adipiscing
        </p>
    </div>
</section>

<section class="maze-tales">
    <div class="card-container card-size">
        {% for labyrinth in labyrinths %}
        <a href="{% url 'webapp:labyrinth_detail' labyrinth.pk %}">
            <div class="card-tale">
                <div class="card-tale__photo">
                    <img src="{{ labyrinth.images.url }}" alt="">
                </div>
                <div class="card-tale__info">
                    <h2 class="card-tale__name">{{ labyrinth.title }}</h2>
                    <div class="wrapin">
                        <span class="card-tale__author">
                            {{ labyrinth.author }}
                        </span>
                    </div>

                    <p class="card-tale__text">
                        {{ labyrinth.text|truncatewords:20 }}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% if is_paginated %}
    {% include 'partial/pagination.html' %}
    {% endif %}
</section>
{% endblock %}
