{% extends 'base.html' %}
{% load static %}
{% block meta_description %}Smart Jomok - Labyrinth {% endblock %}
{% block title %} Smart Jomok | Родителям {% endblock %}
{% block content %}
<div class="breadcrumb all--margin">
    <ol class="breadcrumb__list" id="breadcrumbs">
        <li class="breadcrumb__item">
            <a href="{% url 'webapp:home' %}" class="breadcrumb__link">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb__item">
            <a href="{% url 'webapp:teach_tale_categories' %}" class="breadcrumb__link active">Обучающие сказки</a>
        </li>
        <li class="breadcrumb__item latest dark--clr">
            {{ parent.title }}
        </li>
    </ol>
</div>

<section class="detail">
    <div class="detail-wrapper">
        <h2 class="detail__title">{{ parent.title }}</h2>
        <p class="detail__text">{{ parent.text }}</p>

        <img src="{{ parent.images.url }}" class="detail__image" alt="hedgehog">

        <p class="detail__text">
            {{ parent.second_text }}
        </p>
    </div>

    <div class="tales-wrapper">
        <h2 class="main-title">Другие обучающие сказки</h2>
        {% for suggestion in suggestions %}
        <a href="{% url 'webapp:teach_tale_detail' suggestion.pk %}" class="item-link">
            <div class="tale">
                <img class="tale__img" src="{{ suggestion.images.url }}" alt="">
                <div class="tale__description">
                    <h5 class="tale__heading">{{ suggestion.title }}</h5>
                    <p class="tale__text">{{ suggestion.text|truncatewords:10 }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}