{% extends 'base.html' %}
{% load static %}
{% block meta_description %}Smart Jomok - Parent Page{% endblock %}
{% block title %} Smart Jomok | Родителям {% endblock %}
{% block content %}
<div class="breadcrumb all--margin">
    <ol class="breadcrumb__list" id="breadcrumbs">
        <li class="breadcrumb__item">
            <a href="{% url 'webapp:home' %}" class="breadcrumb__link">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb__item latest blue--clr lang" key="parents">
            Родителям
        </li>
    </ol>
</div>
<section class="about-maze">
    <h1 class="title  lang" key="parents">Родителям</h1>
    <div class="about-wrap">
        <p class="text lang" key="text-p">
            Здесь собраны сказки, которые вы можете обсуждать вместе с вашим ребенком.
            Они побуждают к общению. Вы, как никто другой, можете помочь своему ребенку.
        </p>
    </div>
</section>
<section class="maze-tales card-width">
    <div class="card-container card-size">
        {% for parent in parents %}
        <a href="{% url 'webapp:parent_detail' parent.pk %}">
            <div class="card-tale">
                <div class="card-tale__photo">
                    <img src="{{ parent.images.url }}" alt="">
                </div>
                <div class="card-tale__info">
                    <h2 class="card-tale__name">{{ parent.title }}</h2>
                    <div class="wrapin">
                             <span class="card-tale__author">
                                 {% if parent.author %}{{ parent.author }}{% endif %}
                             </span>
                    </div>
                    <p class="card-tale__text">
                        {{ parent.text }}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% if is_paginated %}
    {% include 'partial/pagination.html' %}
    {% endif %}
</section>
{% endblock %}