{% extends 'base.html' %}
{% load static %}
{% block meta_description %}Smart Jomok - Labyrinth {% endblock %}
{% block title %} Smart Jomok | Не найдено "{{ request.GET.search_tale }}" {% endblock %}
{% block content %}
<div class="breadcrumb all--margin">
    <ol class="breadcrumb__list" id="breadcrumbs">
        <li class="breadcrumb__item">
            <a href="{% url 'webapp:home' %}" class="breadcrumb__link">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb__item last-item lang" key="search-result">
            Результат поиска по запросу
        </li>
        <span>“{{ request.GET.search_tale }}”</span>
    </ol>
</div>
<section class="search-result">
    <header class="page-header">
        <h1 class="search-result__title lang" key="search-notfound">Не найдено</h1>
    </header>
    <div class="block-result">
        <div class="fail">
            <p class="fail__info lang" key="search-fail">Нет результатов по запросу:
            </p>
            <span class="fail__item">{{ request.GET.search_tale }}</span>
        </div>
    </div>

    <div class="pagination">
        <a href="#" class="pagination__btn">&laquo;</a>
        <a href="#" class="pagination__btn">1</a>
        <a href="#" class="pagination__btn">&raquo;</a>
    </div>

</section>
{% endblock %}