{% extends 'base.html' %}
{% load static %}
{% block meta_description %}Smart Jomok - Labyrinth {% endblock %}
{% block title %} Smart Jomok | Поиск "{{ request.GET.search_tale }}" {% endblock %}
{% block content %}
<div class="breadcrumb all--margin">
    <ol class="breadcrumb__list" id="breadcrumbs">
        <li class="breadcrumb__item">
            <a href="{% url 'webapp:home' %}" class="breadcrumb__link">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb__item last-item lang" key="search-result">
           Результат поиска по запросу
        </li>
        <span>"{{ request.GET.search_tale }}"</span>
    </ol>
</div>
<section class="search-result">
    <header class="page-header">
        <h1 class="search-result__title lang" key="search-result">Результат поиска по запросу:</h1>
        <span class="search-word">{{ request.GET.search_tale }}</span>
    </header>

    {% for result in data %}
        <div class="block-result">
            <a href="{{ result.get_absolute_url }}">
                <article class="tale">
                    <img src="{{result.images.url}}" alt="">
                    <div class="tale__short-content">
                        <h5 class="tale__title">{{ result.title }}</h5>
                        <span class="tale__author">{% if result.author %}{{ result.author }}{% endif %}</span>
                        <p class="tale__text">{{ result.text|truncatewords:10 }}</p>
                    </div>
                </article>
            </a>
        </div>
    {% endfor %}

    {% include 'partial/search_pagination.html' %}

</section>

{% endblock %}