{% extends 'base.html' %}
{% load static %}
{% block meta_description %}Smart Jomok - Labyrinth {% endblock %}
{% block title %} {% endblock %}
{% block content %}
<div class="breadcrumb all--margin">
    <ol class="breadcrumb__list" id="breadcrumbs">
        <li class="breadcrumb__item">
            <a href="{% url 'webapp:home' %}" class="breadcrumb__link">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb__item latest lang" key="teaching">
            Обучающие
        </li>
    </ol>
</div>
<section class="about-maze">
    <h1 class="title lang" key="teaching">Обучающие</h1>
    <div class="about-wrap">
        <p class="text lang" key="text-t">
            В этой категории собраны сказки по категориям, которые могут обучить
            Вашего ребенка: Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor,or sit amet, consectetur adipiscing
        </p>
    </div>
</section>
<section class="teach-tales">

    {% for category in categories %}
    <div class="slide-wrapper">
        <h2 class="title">{{ category }}</h2>
        <div class="slider-1 card_slides">
            {% for story in category.teach_tale.all %}
            <a href="{% url 'webapp:teach_tale_detail' story.pk %}">
                <div class="card-tale__photo">
                    <img src="{{ story.images.url }}" alt="">
                </div>
                <div class="card-tale__info">
                    <h2 class="card-tale__name">{{ story.title }}</h2>
                    <div class="wrapin">
                                 <span class="card-tale__author">
                                     {% if story.author %}{{ story.author }}{% endif %}
                                 </span>
                    </div>
                    <p class="item__text">
                        {{ story.text|truncatewords:10 }}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</section>
{% endblock %}


