@import '_variables';

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none
}


@mixin horizontal-menu($color) {
  @include reset-list;
  li {
    a {
      text-decoration: none;
      color: $color;
    }
  }
}

@mixin vertical-menu($color) {
  @include reset-list;
  li {
    a {
      font-family: $open-sans;
      font-weight: normal;
      line-height: 22px;
      color: $color;
    }
  }
}

@mixin base-btn {
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin search-btn {
  @include base-btn;

  background-color: $bg-search-btn;
  border-radius: 10%;
    i {
      color: $white;
    }
}

@mixin primary-button($color) {
  background: $color;
  border-radius: 40px;
  cursor: pointer;
}

