$font-stack:  Handlee, sans-serif;
$open-sans: 'Open Sans', sans-serif;

$dark: #455A64;
$white: #ffffff;
$light-blue: #73A2C7;
$clr-default: #555555;
$blue: #497799;
$s-blue: #1E93D8;
$bg-color-t: #365872;
$grey: #5C6369;
$border-clr: #90CAF9;
$black: #333333;
$dark-grey: #5C6369;
$black-s: #000000;
$bg-yellow: #FFC71C;
$bg-green: #89D5FF;
$bg-blue: #7DA2FF;
$arrow-clr: #D0D0D0;
$a-grey:  #717171;
$clr-active: #151515;
$clr-active-lang: #29B6F6;
$clr-sublink: #444444;
$border-clr: #7DA2FF;
$border-btn-color: #77ADF3;
$menu-line: #E0E0E0;
$mobile-menu-shadow: -10px -10px 20px rgba(39, 39, 39, 0.3), 10px 10px 20px rgba(39, 39, 39, 0.5);
$bg-search-btn: #7DA2FF;
$active-btn-shadow: 5px 5px 16px rgba(118, 118, 118, 0.25);
$default-btn-shadow: 3px 3px 16px rgba(118, 118, 118, 0.25);
$card-shadow: 0px 2px 4px #90CAF9;
$active-card: 9px 9px 20px rgba(193, 218, 255, 0.5);
$gr-blue: linear-gradient(180deg, #73A2C7 0%, #0069BC 100%);
$btn-color: linear-gradient(85.94deg, #90CAF9 4.61%, #38A6FF 21.13%);
$box-shadow: 6px 2px 20px rgba(144, 202, 249, 0.5);
$btn-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
$img-shadow: -40px -40px 50px rgba(247, 247, 247, 0.5), 10px 10px 30px rgba(193, 218, 255, 0.5);
$main-btn-shadow: -10px 10px 30px #E0E0E0;
$main-btn-color: linear-gradient(258.14deg, #23BCF0 6.35%, #7DA2FF 64.81%);
$bg-body: rgba(128, 128, 128, 0.4);
$blur: blur(10px);

$duration: .3s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeOut: cubic-bezier(0.55, 0, 0.98, 0.54) 0s;