$break-large: 970px;
$break-medium: 860px;
$break-medium-card: 803px;
$break-medium-s-icon: 675px;
$break-small: 450px;
$maxWidth: 1175;


@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media only screen and (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media only screen and (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

@mixin change-style {
  width: 200px;
  height: 100px;
  background: #5b80b2;
}

@mixin respond-to($media) {
  @if ($media == phone) {
    @media only screen and (max-width: $break-small) {
      @content
    }
  } @else if ($media == tab-port) {
    @media only screen and (max-width: $break-medium) {
      @content
    }
  } @else if ($media == tab-land) {
    @media only screen and (max-width: $break-large) {
      @content
    }
  } @else if ($media == tab-port-s) {
    @media only screen and (max-width: $break-medium-card) {
      @content
    }
  } @else if ($media == tab-port-xs) {
    @media only screen and (max-width: $break-medium-s-icon) {
      @content
    }
  }
}