@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Noto Sans', sans-serif; }

h1 {
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

input:focus {
  outline: none; }

.container {
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) repeat(8, minmax(min-content, 9.18rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(1, min-content) repeat(5, min-content);
  margin-top: 2.5rem; }
  @media only screen and (max-width: 970px) {
    .container {
      grid-template-columns: minmax(3rem, 1fr) repeat(8, minmax(min-content, 9.18rem)) minmax(3rem, 1fr);
      margin-top: 1.8rem; } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px); }
  to {
    opacity: 1;
    transform: translate(8px); } }
.toggle .bar1 {
  transform: rotate(-45deg) translate(-4px, 4px); }

.toggle .bar2 {
  opacity: 0; }

.toggle .bar3 {
  transform: rotate(45deg) translate(-6px, -6px); }

.blur {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(128, 128, 128, 0.4);
  z-index: 10;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  backdrop-filter: blur(10px);
  transition: all ease 0.5s, opacity 0.3s; }

.header {
  grid-column: 2 / 10;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) repeat(3, 1fr) minmax(min-content, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 10px;
  grid-row-gap: 41px;
  align-items: center; }
  @media only screen and (max-width: 860px) {
    .header {
      grid-template-columns: repeat(4, 1fr) minmax(3.75rem, max-content);
      grid-template-rows: repeat(1, auto); } }
  .header .lang-container {
    grid-column: 5/6;
    grid-row: 1/2;
    justify-self: end; }
  @media only screen and (max-width: 860px) {
    .header__lang {
      display: none; } }
  .header__lang .lang__item {
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    color: #455A64;
    text-transform: uppercase;
    padding-bottom: 2px;
    background: none; }
    @media only screen and (max-width: 860px) {
      .header__lang .lang__item {
        margin: 30px 93px 20px 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-transform: capitalize; } }
    .header__lang .lang__item:hover {
      border-bottom: 2px solid #1E93D8;
      padding-bottom: 2px;
      transition: all ease 0.3s, opacity 0.3s; }
  .header__lang .lang__item:last-child {
    margin-left: 17px; }
  .header .logo {
    grid-column: 1/2;
    grid-row: 2/3; }
    @media only screen and (max-width: 860px) {
      .header .logo {
        grid-row: 1/2; } }
  .header .nav {
    grid-column: 2/5;
    grid-row: 2/3; }
    @media only screen and (max-width: 860px) {
      .header .nav {
        grid-column: 5/6;
        grid-row: 1/2;
        justify-self: end;
        transition: transform 0.5s ease-in; } }
    .header .nav__menu-toggle {
      display: none; }
      @media only screen and (max-width: 860px) {
        .header .nav__menu-toggle {
          display: block; } }
      .header .nav__menu-toggle .bar {
        width: 30px;
        height: 2px;
        background-color: #7DA2FF;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .header .nav__menu-toggle :hover {
        cursor: pointer; }
    .header .nav__list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      align-items: center;
      justify-items: center; }
      @media only screen and (max-width: 860px) {
        .header .nav__list {
          position: absolute;
          width: 50%;
          grid-column: 4/5;
          height: 60vh;
          top: 14vh;
          display: flex;
          flex-direction: column;
          align-content: center;
          box-shadow: -10px -10px 20px rgba(39, 39, 39, 0.3), 10px 10px 20px rgba(39, 39, 39, 0.5);
          background-color: #ffffff;
          border-radius: 10px 0px 0px 10px;
          transform: translateX(100%);
          transition: transform 0.5s ease-in; } }
    .header .nav__item {
      display: inline-block; }
      @media only screen and (max-width: 860px) {
        .header .nav__item {
          position: relative;
          width: 100%;
          display: block; }
          .header .nav__item::before {
            content: '';
            width: 100%;
            height: 0.5px;
            display: block;
            background-color: #E0E0E0; }
          .header .nav__item:nth-child(1) {
            margin-top: 71px; }
          .header .nav__item:last-child::after {
            content: '';
            width: 100%;
            height: 0.5px;
            display: block;
            background-color: #E0E0E0; } }
      .header .nav__item img {
        display: none; }
        @media only screen and (max-width: 860px) {
          .header .nav__item img {
            display: inline-block;
            margin-left: 72px;
            padding-right: 2px; } }
    .header .nav .link--submenu:after {
      content: '\f107';
      position: relative;
      font: 500 18px "FontAwesome";
      transition: 0.4s all ease;
      padding-left: 10px; }
    .header .nav .nav-active {
      transform: translateX(-70%); }
    .header .nav__link {
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #455A64; }
      @media only screen and (max-width: 860px) {
        .header .nav__link {
          display: inline-block;
          margin: 12px 0; } }
    .header .nav .active {
      font-weight: bold;
      color: #000000; }
    .header .nav__submenu-toggle {
      display: inline-block;
      width: 17px;
      text-align: center;
      cursor: pointer;
      color: #455A64; }
      .header .nav__submenu-toggle:after {
        content: '\f107';
        position: relative;
        display: inline-block;
        font: 500 18px "FontAwesome";
        text-align: center;
        transition: 0.4s all ease;
        padding-left: 10px; }
    .header .nav .dropdown {
      position: relative; }
    .header .nav .dropdown-menu {
      position: absolute;
      display: none;
      top: 33px;
      height: 163px; }
      @media only screen and (max-width: 860px) {
        .header .nav .dropdown-menu {
          position: static; } }
      .header .nav .dropdown-menu__list {
        margin: 0;
        padding: 0;
        list-style: none; }
      .header .nav .dropdown-menu__item {
        margin: 4px 0;
        padding: 5px 37.5px;
        border-radius: 1px; }
        @media only screen and (max-width: 860px) {
          .header .nav .dropdown-menu__item {
            position: relative;
            width: 100%;
            padding: 0;
            height: 50px;
            border-radius: 0; }
            .header .nav .dropdown-menu__item:before {
              content: '';
              width: 100%;
              height: 0.5px;
              display: block;
              background-color: #E0E0E0; } }
      .header .nav .dropdown-menu .item--bgColor:first-child {
        background: #7DA2FF; }
        @media only screen and (max-width: 860px) {
          .header .nav .dropdown-menu .item--bgColor:first-child {
            background: #ffffff; } }
      .header .nav .dropdown-menu .item--bgColor:nth-child(2) {
        background: #89D5FF; }
        @media only screen and (max-width: 860px) {
          .header .nav .dropdown-menu .item--bgColor:nth-child(2) {
            background: #ffffff; } }
      .header .nav .dropdown-menu .item--bgColor:nth-child(3) {
        background: #FFC71C; }
        @media only screen and (max-width: 860px) {
          .header .nav .dropdown-menu .item--bgColor:nth-child(3) {
            background: #ffffff; } }
      .header .nav .dropdown-menu__link {
        line-height: 25px;
        color: #ffffff; }
        @media only screen and (max-width: 767px) {
          .header .nav .dropdown-menu__link {
            font-size: calc(16px + 3.4 * ((100vw - 320px) / 1175)); } }
        @media only screen and (min-width: 767px) {
          .header .nav .dropdown-menu__link {
            font-size: calc(16px + 2 * (100vw / 1175)); } }
        @media only screen and (max-width: 860px) {
          .header .nav .dropdown-menu__link {
            display: inline-block;
            margin: 15px 0 0 97px;
            color: #444444; } }
  .header .search {
    position: relative;
    grid-column: 5/6;
    grid-row: 2/3;
    align-content: center;
    justify-self: flex-end; }
    @media only screen and (max-width: 860px) {
      .header .search {
        grid-column: 4/5;
        grid-row: 1/2; } }
    .header .search input {
      position: relative;
      width: 100%;
      border: 1px solid #7DA2FF;
      box-shadow: -4px 4px 20px #90CAF9;
      border-radius: 10px;
      padding: 9px 0 9px 22px;
      line-height: 186%;
      margin-right: -14px; }
      @media only screen and (max-width: 767px) {
        .header .search input {
          font-size: calc(12px + 3.4 * ((100vw - 320px) / 1175)); } }
      @media only screen and (min-width: 767px) {
        .header .search input {
          font-size: calc(12px + 2 * (100vw / 1175)); } }
    .header .search__popup {
      position: absolute;
      right: -61px;
      top: auto;
      z-index: 99;
      opacity: 0; }
    .header .search__form {
      display: flex; }
    .header .search .hidden-btn {
      visibility: hidden; }
    .header .search__btn {
      position: relative;
      width: 65px;
      height: 47px; }
    .header .search .btn {
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #7DA2FF;
      border-radius: 10%; }
      .header .search .btn i {
        color: #ffffff; }
      .header .search .btn i {
        font-size: 18px; }
    .header .search .show-form {
      width: 47px;
      height: 33px; }
  .header .m-lang {
    display: none; }
    @media only screen and (max-width: 860px) {
      .header .m-lang {
        margin: 30px 0 19px 0;
        width: 63%; } }
    .header .m-lang__btn {
      font-size: 16px;
      text-transform: capitalize;
      color: #455A64;
      padding-bottom: 2px; }
      .header .m-lang__btn:nth-child(1) {
        margin-right: 67px; }
  .header .active-lang {
    border-bottom: 2px solid #29B6F6;
    padding-bottom: 2px;
    color: #29B6F6; }

.greeting {
  grid-column: 2 / 10;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 860px) {
    .greeting {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-gap: 10px; } }
  .greeting .test {
    font-size: 50px; }
  .greeting--mp {
    margin-top: 112px; }
  .greeting--mp-full {
    margin-top: 131px; }
  .greeting__left {
    grid-column: 1/2;
    max-width: 547px; }
    @media only screen and (max-width: 860px) {
      .greeting__left {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: start; } }
  .greeting__title {
    margin-bottom: 10px;
    line-height: 165.7%;
    color: #73A2C7; }
    @media only screen and (max-width: 767px) {
      .greeting__title {
        font-size: calc(14px + 17 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .greeting__title {
        font-size: calc(14px + 10 * (100vw / 1175)); } }
  .greeting__title-main {
    font-family: Handlee, sans-serif;
    font-weight: normal;
    line-height: 165.7%;
    color: #455A64; }
    @media only screen and (max-width: 767px) {
      .greeting__title-main {
        font-size: calc(20px + 51 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .greeting__title-main {
        font-size: calc(20px + 30 * (100vw / 1175)); } }
  .greeting__info {
    margin: 36px 0 52px 0;
    line-height: 41px;
    color: #455A64; }
    @media only screen and (max-width: 767px) {
      .greeting__info {
        font-size: calc(15px + 11.9 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .greeting__info {
        font-size: calc(15px + 7 * (100vw / 1175)); } }
  .greeting__btn {
    background: linear-gradient(258.14deg, #23BCF0 6.35%, #7DA2FF 64.81%);
    border-radius: 40px;
    cursor: pointer;
    padding: 10px 68px;
    box-shadow: -10px 10px 30px #E0E0E0;
    line-height: 35px;
    color: #ffffff;
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out; }
    @media only screen and (max-width: 767px) {
      .greeting__btn {
        font-size: calc(16px + 17 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .greeting__btn {
        font-size: calc(16px + 10 * (100vw / 1175)); } }
    .greeting__btn:hover {
      transform: scale(1.05);
      color: #1b202d; }
    .greeting__btn:active {
      transform: scale(0.9); }
  .greeting__right {
    grid-column: 2/3; }
    @media only screen and (max-width: 860px) {
      .greeting__right {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center; } }
    .greeting__right img {
      width: 100%; }

.category {
  grid-column: 2 / 10;
  grid-row: 3 / 4;
  margin: 227px 0 297px 0; }
  .category .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    grid-column-gap: 30px; }
    .category .cards-container .card {
      height: 557px; }
      .category .cards-container .card__photo {
        text-align: center; }
        .category .cards-container .card__photo img {
          padding: 42px 55px;
          box-shadow: -40px -40px 50px rgba(247, 247, 247, 0.5), 10px 10px 30px rgba(193, 218, 255, 0.5);
          border-radius: 20px; }
        .category .cards-container .card__photo:hover {
          transform: translateY(-5px);
          moz-transition: all 0.3s linear;
          webkit-transition: all 0.3s linear;
          transition: all 0.3s linear; }
      .category .cards-container .card__body {
        max-width: 339px; }
        @media only screen and (max-width: 803px) {
          .category .cards-container .card__body {
            margin: 0 auto; } }
      .category .cards-container .card__name {
        margin: 30px 0;
        line-height: 44px;
        color: #333333;
        text-align: center; }
        @media only screen and (max-width: 767px) {
          .category .cards-container .card__name {
            font-size: calc(18px + 3.4 * ((100vw - 320px) / 1175)); } }
        @media only screen and (min-width: 767px) {
          .category .cards-container .card__name {
            font-size: calc(18px + 2 * (100vw / 1175)); } }
      .category .cards-container .card__description {
        line-height: 201.7%;
        color: #333333; }
        @media only screen and (max-width: 767px) {
          .category .cards-container .card__description {
            font-size: calc(15px + 1.7 * ((100vw - 320px) / 1175)); } }
        @media only screen and (min-width: 767px) {
          .category .cards-container .card__description {
            font-size: calc(15px + 1 * (100vw / 1175)); } }
      .category .cards-container .card__list {
        margin-top: 20px;
        margin-left: 20px; }
        @media only screen and (max-width: 803px) {
          .category .cards-container .card__list {
            margin-left: 112px; } }
      .category .cards-container .card__item {
        margin-bottom: 15px; }
      .category .cards-container .card__link {
        line-height: 22px;
        color: #333333; }
        @media only screen and (max-width: 767px) {
          .category .cards-container .card__link {
            font-size: calc(15px + 1.7 * ((100vw - 320px) / 1175)); } }
        @media only screen and (min-width: 767px) {
          .category .cards-container .card__link {
            font-size: calc(15px + 1 * (100vw / 1175)); } }
        .category .cards-container .card__link:hover {
          border-bottom: 1px solid #333333;
          padding-bottom: 2px;
          transition: all linear 0.3s; }

.footer {
  grid-column: 1/12;
  grid-row: 6/last-line;
  height: 312px;
  background-color: #5C6369;
  position: relative; }
  .footer .footer-wrap {
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(min-content, 8rem)) minmax(5rem, 1fr);
    margin: 77px 0 13px 0; }
    @media only screen and (max-width: 803px) {
      .footer .footer-wrap {
        grid-template-columns: minmax(3rem, 1fr) repeat(10, minmax(min-content, 8rem)) minmax(3rem, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-top: 30px; } }
  .footer__logo {
    grid-column: 2/3; }
    @media only screen and (max-width: 675px) {
      .footer__logo {
        grid-column: 2/3;
        grid-row: 1/2; } }
  .footer .nav {
    grid-column: 3/8; }
    @media only screen and (max-width: 675px) {
      .footer .nav {
        grid-column: 3/13;
        grid-row: 1/2; } }
    .footer .nav__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      justify-items: center; }
      .footer .nav__list li a {
        text-decoration: none;
        color: #ffffff; }
      @media only screen and (max-width: 675px) {
        .footer .nav__list {
          justify-items: stretch; } }
    .footer .nav__item {
      display: inline-block;
      height: 40px; }
      .footer .nav__item i {
        font-size: 13px;
        color: #ffffff; }
    .footer .nav__item:nth-child(2) {
      position: relative; }
    .footer .nav__link {
      font-weight: bold;
      line-height: 22px; }
      @media only screen and (max-width: 767px) {
        .footer .nav__link {
          font-size: calc(14px + 3.4 * ((100vw - 320px) / 1175)); } }
      @media only screen and (min-width: 767px) {
        .footer .nav__link {
          font-size: calc(14px + 2 * (100vw / 1175)); } }
  .footer .social-icon {
    grid-column: 9/12;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    justify-items: end; }
    @media only screen and (max-width: 675px) {
      .footer .social-icon {
        grid-column: 2/12;
        grid-row: 2/3;
        margin-top: 93px; } }
    .footer .social-icon li a {
      text-decoration: none;
      color: #000000; }
    @media only screen and (max-width: 675px) {
      .footer .social-icon {
        justify-items: center; } }
    .footer .social-icon__item {
      display: inline-block; }
    .footer .social-icon__link i {
      padding: 5px 5px;
      background-color: #ffffff;
      border-radius: 50%; }
    .footer .social-icon__link .special--ok {
      padding: 5px 8px; }
  .footer .copy_right {
    position: absolute;
    top: 276px;
    left: 75px; }
    .footer .copy_right span {
      font-weight: bold;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: #A3A3A3; }
      @media only screen and (max-width: 767px) {
        .footer .copy_right span {
          font-size: calc(10px + 8.5 * ((100vw - 320px) / 1175)); } }
      @media only screen and (min-width: 767px) {
        .footer .copy_right span {
          font-size: calc(10px + 5 * (100vw / 1175)); } }
  .footer .dropdown-menu {
    position: absolute; }
    .footer .dropdown-menu__list {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer .dropdown-menu__list li a {
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        line-height: 22px;
        color: #ffffff; }
    @media only screen and (max-width: 767px) {
      .footer .dropdown-menu__link {
        font-size: calc(14px + 3.4 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .footer .dropdown-menu__link {
        font-size: calc(14px + 2 * (100vw / 1175)); } }
    .footer .dropdown-menu__item {
      margin: 15px 0; }

.breadcrumb {
  grid-column: 2/10;
  grid-row: 2/3; }
  .breadcrumb__list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .breadcrumb__list li a {
      text-decoration: none;
      color: #497799; }
  .breadcrumb__item {
    display: inline-block; }
    .breadcrumb__item:not(:first-child) {
      margin-left: .8rem; }
    .breadcrumb__item:not(:first-child):before {
      margin-right: .8em;
      color: #497799;
      content: ">"; }
  .breadcrumb .latest {
    line-height: 22px;
    letter-spacing: 0.02em; }
    @media only screen and (max-width: 767px) {
      .breadcrumb .latest {
        font-size: calc(12px + 6.8 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .breadcrumb .latest {
        font-size: calc(12px + 4 * (100vw / 1175)); } }
  .breadcrumb .blue--clr {
    color: #497799; }
  .breadcrumb .dark--clr {
    color: #717171; }
  .breadcrumb__link {
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #497799; }
    @media only screen and (max-width: 767px) {
      .breadcrumb__link {
        font-size: calc(12px + 6.8 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .breadcrumb__link {
        font-size: calc(12px + 4 * (100vw / 1175)); } }
    .breadcrumb__link:hover {
      border-bottom: 1px solid #1E93D8;
      padding-bottom: 1px;
      transition: all ease 0.3s, opacity 0.3s; }

.all--margin {
  margin: 60px 0 40px 0; }

.about-maze {
  grid-column: 2/10;
  grid-row: 3/4;
  margin-bottom: 60px;
  color: #455A64; }
  @media only screen and (max-width: 675px) {
    .about-maze {
      display: none; } }

.maze-tales {
  grid-column: 2/10;
  grid-row: 4/5; }
  .maze-tales .card-size {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); }
    @media only screen and (max-width: 450px) {
      .maze-tales .card-size {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); } }

.title {
  line-height: 54px;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .title {
      font-size: calc(28px + 20.4 * ((100vw - 320px) / 1175)); } }
  @media only screen and (min-width: 767px) {
    .title {
      font-size: calc(28px + 12 * (100vw / 1175)); } }

.text {
  margin-top: 40px;
  line-height: 201.7%; }
  @media only screen and (max-width: 767px) {
    .text {
      font-size: calc(15px + 5.1 * ((100vw - 320px) / 1175)); } }
  @media only screen and (min-width: 767px) {
    .text {
      font-size: calc(15px + 3 * (100vw / 1175)); } }

.about-wrap {
  max-width: 734px;
  margin: 0 auto; }

.card-container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  margin: 70px 0 100px 0; }
  @media only screen and (max-width: 675px) {
    .card-container {
      margin-top: 0;
      margin-bottom: 100px; } }

.card-tale {
  box-shadow: 0px 2px 4px #90CAF9;
  border-radius: 10px; }
  .card-tale__photo img {
    width: 100%; }
  .card-tale .wrapin {
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 675px) {
      .card-tale .wrapin {
        margin: 10px 0 20px 0; } }
  .card-tale__info {
    padding: 30px 25px 30px 25px; }
  .card-tale__name {
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #333333; }
    @media only screen and (max-width: 767px) {
      .card-tale__name {
        font-size: calc(16px + 6.8 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .card-tale__name {
        font-size: calc(16px + 4 * (100vw / 1175)); } }
  .card-tale__author {
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #717171; }
    @media only screen and (max-width: 767px) {
      .card-tale__author {
        font-size: calc(12px + 6.8 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .card-tale__author {
        font-size: calc(12px + 4 * (100vw / 1175)); } }
  .card-tale__category {
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #717171; }
    @media only screen and (max-width: 767px) {
      .card-tale__category {
        font-size: calc(12px + 6.8 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .card-tale__category {
        font-size: calc(12px + 4 * (100vw / 1175)); } }
  .card-tale__text {
    margin-bottom: 30px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #333333; }
    @media only screen and (max-width: 767px) {
      .card-tale__text {
        font-size: calc(14px + 3.4 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .card-tale__text {
        font-size: calc(14px + 2 * (100vw / 1175)); } }
    @media only screen and (max-width: 675px) {
      .card-tale__text {
        margin-bottom: 0; } }
  .card-tale:hover {
    box-shadow: 9px 9px 20px rgba(193, 218, 255, 0.5);
    transform: translateY(-5px);
    moz-transition: all 0.3s linear;
    webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.catalog {
  grid-column: 2/10;
  grid-row: 3/4; }
  .catalog .card-size {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); }

.catalog--margin {
  margin: 60px 0 90px 0; }

.teach-tales {
  grid-column: 2/10;
  grid-row: 4/6;
  margin: 71px 0 110px 0;
  /* slide-wrapper */ }
  .teach-tales .title {
    margin-bottom: 45px;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #455A64;
    text-align: left; }
  .teach-tales .item__text {
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 22px;
    color: #333333; }
  .teach-tales .slick-slide {
    transform: scale(0.8);
    opacity: 0.7;
    moz-transition: all ease 0.3s;
    webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
  .teach-tales .slick-slide.slick-current {
    transform: scale(1);
    opacity: 1;
    box-shadow: 6px 2px 20px rgba(144, 202, 249, 0.5); }
  .teach-tales .slide-wrapper {
    width: 78vw;
    margin: 0 auto; }
    .teach-tales .slide-wrapper .slick-arrow {
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      bottom: 50%;
      background: none;
      z-index: 99;
      font-size: 22px;
      color: #D0D0D0; }
    .teach-tales .slide-wrapper .prev-1 {
      left: 2%; }
    .teach-tales .slide-wrapper .next-1 {
      left: 98%; }
  .teach-tales .wrapin {
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: space-between; }

.pagination {
  grid-column: 2/10;
  grid-row: 5/6;
  margin: 90px 0 75px 0;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 860px) {
    .pagination {
      margin: 50px 0 50px 0; } }
  .pagination__btn {
    margin: 0 10px;
    padding: 10px 18px;
    border: 1px solid #7DA2FF;
    border-radius: 5px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #73A2C7; }
    @media only screen and (max-width: 767px) {
      .pagination__btn {
        font-size: calc(16px + 10.2 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .pagination__btn {
        font-size: calc(16px + 6 * (100vw / 1175)); } }

.detail {
  grid-column: 2/10;
  grid-row: 3/6;
  margin-top: 50px; }
  .detail .detail-wrapper {
    max-width: 633px;
    margin: 0 auto;
    padding-bottom: 134px; }
  .detail .text-wrap {
    margin-right: 30px;
    padding: 12px 0; }
  .detail .l-width {
    max-width: 211px; }
  .detail g-width {
    max-width: 269px; }
  .detail__title {
    margin-bottom: 40px;
    font-weight: normal;
    line-height: 52px;
    color: #455A64; }
    @media only screen and (max-width: 767px) {
      .detail__title {
        font-size: calc(18px + 34 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .detail__title {
        font-size: calc(18px + 20 * (100vw / 1175)); } }
  .detail__text {
    line-height: 200%;
    color: #333333; }
    @media only screen and (max-width: 767px) {
      .detail__text {
        font-size: calc(15px + 5.1 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .detail__text {
        font-size: calc(15px + 3 * (100vw / 1175)); } }
  .detail__image {
    margin: 30px 0;
    width: 100%; }
  .detail .btn-block {
    width: 100%;
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: space-around; }
  .detail__btn {
    padding: 15px 70px;
    background: #ffffff;
    box-shadow: 3px 3px 16px rgba(118, 118, 118, 0.25);
    border-radius: 40px;
    border: 2px solid #77ADF3;
    font-weight: bold;
    line-height: 30px;
    color: #555555; }
    @media only screen and (max-width: 767px) {
      .detail__btn {
        font-size: calc(13px + 15.3 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .detail__btn {
        font-size: calc(13px + 9 * (100vw / 1175)); } }
    .detail__btn:hover {
      box-shadow: 5px 5px 16px rgba(118, 118, 118, 0.25);
      color: #151515;
      transform: scale(1);
      moz-transition: all 0.3s ease;
      webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .detail__author {
    display: block;
    justify-self: start;
    color: #333333; }
    @media only screen and (max-width: 767px) {
      .detail__author {
        font-size: calc(12px + 10.2 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .detail__author {
        font-size: calc(12px + 6 * (100vw / 1175)); } }

.tales-wrapper {
  margin: 60px 0 85px 0; }
  .tales-wrapper .main-title {
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 34px;
    line-height: 46px;
    color: #455A64; }
  .tales-wrapper .tale {
    display: flex;
    margin-bottom: 50px; }
    .tales-wrapper .tale__description {
      max-width: 592px;
      margin-left: 30px; }
    .tales-wrapper .tale__heading {
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #333333; }
    .tales-wrapper .tale__text {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #333333; }

.search-result {
  grid-column: 2/10;
  grid-row: 4/5; }
  .search-result .page-header {
    margin-top: 10px;
    text-align: center;
    color: #455A64; }
  .search-result__title {
    display: inline-block;
    margin-right: 25px;
    font-weight: normal;
    line-height: 49px;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .search-result__title {
        font-size: calc(16px + 34 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .search-result__title {
        font-size: calc(16px + 20 * (100vw / 1175)); } }
  .search-result .search-word {
    font-weight: bold;
    line-height: 49px;
    text-decoration: underline; }
    @media only screen and (max-width: 767px) {
      .search-result .search-word {
        font-size: calc(16px + 34 * ((100vw - 320px) / 1175)); } }
    @media only screen and (min-width: 767px) {
      .search-result .search-word {
        font-size: calc(16px + 20 * (100vw / 1175)); } }
  .search-result .fail {
    display: flex;
    align-items: center;
    padding-bottom: 347px; }
    .search-result .fail__info {
      margin-right: 30px;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.02em;
      color: #333333; }
    .search-result .fail__item {
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      text-decoration-line: underline;
      color: #333333; }
  .search-result .block-result {
    margin: 70px 0 90px 0; }
    .search-result .block-result h2 {
      margin-bottom: 50px;
      font-weight: normal;
      font-size: 34px;
      line-height: 46px;
      color: #455A64; }
  .search-result .tale {
    display: flex;
    align-items: flex-end; }
    .search-result .tale__short-content {
      max-width: 633px;
      margin-left: 30px; }
    .search-result .tale__title {
      margin-bottom: 5px;
      font-weight: normal;
      line-height: 27px;
      letter-spacing: 0.02em;
      color: #333333; }
      @media only screen and (max-width: 767px) {
        .search-result .tale__title {
          font-size: calc(16px + 6.8 * ((100vw - 320px) / 1175)); } }
      @media only screen and (min-width: 767px) {
        .search-result .tale__title {
          font-size: calc(16px + 4 * (100vw / 1175)); } }
    .search-result .tale__author {
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #717171; }
      @media only screen and (max-width: 767px) {
        .search-result .tale__author {
          font-size: calc(12px + 6.8 * ((100vw - 320px) / 1175)); } }
      @media only screen and (min-width: 767px) {
        .search-result .tale__author {
          font-size: calc(12px + 4 * (100vw / 1175)); } }
    .search-result .tale__text {
      margin-top: 13px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #333333; }
      @media only screen and (max-width: 767px) {
        .search-result .tale__text {
          font-size: calc(13px + 5.1 * ((100vw - 320px) / 1175)); } }
      @media only screen and (min-width: 767px) {
        .search-result .tale__text {
          font-size: calc(13px + 3 * (100vw / 1175)); } }

/*# sourceMappingURL=style.css.map */
