@import '_variables';
@import '_mixins';
@import "media";
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// ---- BASE STYLES ---- //

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus{
  outline: none;
}

.container {
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) repeat(8, minmax(min-content, 9.18rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(1, min-content) repeat(5, min-content);
  margin-top: 2.5rem;
  @include respond-to(tab-land) {
    grid-template-columns: minmax(3rem, 1fr) repeat(8, minmax(min-content, 9.18rem)) minmax(3rem, 1fr);
    margin-top: 1.8rem;
  }
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(8px);
  }
}
.toggle .bar1{
  transform: rotate(-45deg) translate(-4px, 4px);
}
.toggle .bar2{
  opacity: 0;
}
.toggle .bar3{
  transform: rotate(45deg) translate(-6px, -6px);
}

.blur {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: $bg-body;
  z-index: 10;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  backdrop-filter: blur(10px);
  transition: all ease .5s, opacity $duration;
}

// ---- HEADER ---- //

.header {
  grid-column: 2 / 10;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns:  minmax(min-content, 1fr) repeat(3, 1fr) minmax(min-content, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 10px;
  grid-row-gap: 41px;
  align-items: center;
  @include respond-to(tab-port) {
    grid-template-columns:   repeat(4, 1fr) minmax(3.75rem, max-content);
    grid-template-rows: repeat(1, auto);
  }
  .lang-container{
    grid-column: 5/6;
    grid-row: 1/2;
    justify-self: end;
  }
  &__lang {
    @include respond-to(tab-port) {
      display: none;
    }

    .lang__item {
      position: relative;
      @include base-btn;
      font-size: 12px;
      line-height: 16px;
      color: $dark;
      text-transform: uppercase;
      padding-bottom: 2px;
      background: none;
      @include respond-to(tab-port) {
        margin: 30px 93px 20px 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-transform: capitalize;
      }
      &:hover {
        border-bottom: 2px solid $s-blue;
        padding-bottom: 2px;
        transition: all ease $duration, opacity $duration;
      }
    }

    .lang__item:last-child {
      margin-left: 17px;
    }
  }
  //.active-lang {
  //  border-bottom: 2px solid $clr-active-lang;
  //  padding-bottom: 2px;
  //  color: $clr-active-lang;
  //}

  .logo {
    grid-column: 1/2;
    grid-row: 2/3;
    @include respond-to(tab-port) {
      grid-row: 1/2;
    }
  }

  .nav {
    grid-column: 2/5;
    grid-row: 2/3;
    @include respond-to(tab-port) {
      grid-column: 5/6;
      grid-row: 1/2;
      justify-self: end;
      transition: transform 0.5s ease-in;
    }

    &__menu-toggle {
      display: none;
      @include respond-to(tab-port) {
        display: block;
      }
      .bar {
        width: 30px;
        height: 2px;
        background-color: $border-clr;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      :hover{
        cursor: pointer;
      }
    }

    &__list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      align-items: center;
      justify-items: center;
      @include respond-to(tab-port) {
        position: absolute;
        width: 50%;
        grid-column: 4/5;
        height: 60vh;
        top: 14vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        box-shadow: $mobile-menu-shadow;
        background-color: $white;
        border-radius: 10px 0px 0px 10px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }
    }
    &__item {
      display: inline-block;
      //height: 30px;
      @include respond-to(tab-port) {
        position: relative;
        width: 100%;
        display: block;
        &::before {
          content: '';
          width: 100%;
          height: 0.5px;
          display: block;
          background-color: $menu-line;
        }

        &:nth-child(1) {
          margin-top: 71px;
        }
        &:last-child::after {
          content: '';
          width: 100%;
          height: 0.5px;
          display: block;
          background-color: $menu-line;
        }
      }
      img {
        display: none;
        @include respond-to(tab-port) {
          display: inline-block;
          margin-left: 72px;
          padding-right: 2px;
        }
      }
    }
    .link--submenu {
      &:after {
        content: '\f107';
        position: relative;
        font: 500 18px "FontAwesome";
        transition: 0.4s all ease;
        padding-left: 10px;
      }
    }
    .nav-active{
      transform: translateX(-70%);
    }

    &__link {
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: $dark;
      @include respond-to(tab-port) {
        display: inline-block;
        margin: 12px 0;
      }
    }
    .active {
      font-weight: bold;
      color: $black-s;
    }


    &__submenu-toggle {
      display: inline-block;
      width: 17px;
      text-align: center;
      cursor: pointer;
      color: $dark;

      &:after {
        content: '\f107';
        position: relative;
        display: inline-block;
        font: 500 18px "FontAwesome";
        text-align: center;
        transition: 0.4s all ease;
        padding-left: 10px;
      }
    }

    .dropdown {
      position: relative;
    }

    .dropdown-menu {
      position: absolute;
      display: none;
      top: 33px;
      height: 163px;
      @include respond-to(tab-port) {
        position: static;
      }
      &__list {
        @include reset-list;
      }
      &__item {
        margin: 4px 0;
        padding: 5px 37.5px;
        border-radius: 1px;
        @include respond-to(tab-port) {
          position: relative;
          width: 100%;
          padding: 0;
          height: 50px;
          border-radius: 0;
          &:before {
            content: '';
            width: 100%;
            height: 0.5px;
            display: block;
            background-color: $menu-line;
          }
        }
      }
      .item--bgColor {
        &:first-child {
          background: $bg-blue;
          @include respond-to(tab-port) {
            background: $white;
          }
        }
        &:nth-child(2) {
          background: $bg-green;
          @include respond-to(tab-port) {
            background: $white;
          }
        }
        &:nth-child(3) {
          background: $bg-yellow;
          @include respond-to(tab-port) {
            background: $white;
          }
        }
      }

      &__link {
        @include adaptive-font(18, 16);
        line-height: 25px;
        color: $white;
        @include respond-to(tab-port) {
          display: inline-block;
          margin: 15px 0 0 97px;
          color: $clr-sublink;
        }
      }
    }
  }

  .search {
    position: relative;
    grid-column: 5/6;
    grid-row: 2/3;
    align-content: center;
    justify-self: flex-end;
    @include respond-to(tab-port) {
      grid-column: 4/5;
      grid-row: 1/2;
    }

    input {
      position: relative;
      width: 100%;
      border: 1px solid $border-clr;
      box-shadow: -4px 4px 20px #90CAF9;
      border-radius: 10px;
      padding: 9px 0 9px 22px;
      @include adaptive-font(14, 12);
      line-height: 186%;
      margin-right: -14px;
    }

    &__popup {
      position: absolute;
      right: -61px;
      top: auto;
      z-index: 99;
      opacity: 0;
    }

    &__form {
      display: flex;
    }

    .hidden-btn {
      visibility:hidden;
    }
    &__btn {
      position: relative;
      width: 65px;
      height: 47px;
    }
  .btn {
    @include search-btn;
    i {
      font-size: 18px;
    }
   }
   .show-form {
     width: 47px;
     height: 33px;
   }
  }
  .m-lang {
    display: none;
    @include respond-to(tab-port) {
      //display: none;
      margin: 30px 0 19px 0;
      width: 63%;
    }

    &__btn {
      font-size: 16px;
      text-transform:capitalize;
      color: $dark;
      padding-bottom: 2px;
      &:nth-child(1) {
        margin-right: 67px;
      }
    }
  }
  .active-lang {
    border-bottom: 2px solid $clr-active-lang;
    padding-bottom: 2px;
    color: $clr-active-lang;
  }
}

// ---- GREETING-SECTION ---- //

.greeting {
  grid-column: 2 / 10;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include respond-to(tab-port) {
    grid-template-columns:  1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
  }
  .test {
    font-size: 50px;
  }
  &--mp {
    margin-top: 112px;
  }
  &--mp-full {
    margin-top: 131px;
  }
  &__left {
    grid-column: 1/2;
    max-width: 547px;
    @include respond-to(tab-port) {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: start;
    }
  }
  &__title {
    margin-bottom: 10px;
    @include adaptive-font(24, 14);
    line-height: 165.7%;
    color: $light-blue;
    }
  &__title-main {
    font-family: $font-stack;
    font-weight: normal;
    line-height: 165.7%;
    color: $dark;
    @include adaptive-font(50, 20);
  }
  &__info {
    margin: 36px 0 52px 0;
    @include adaptive-font(22, 15);
    line-height: 41px;
    color: $dark;
  }
  &__btn {
    @include primary-button($main-btn-color);
    padding: 10px 68px;
    box-shadow: $main-btn-shadow;
    @include adaptive-font(26, 16);
    line-height: 35px;
    color: $white;
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
    &:hover {
      transform: scale(1.05);
      color: hsl(222, 25%, 14%);
    }
    &:active {
      transform: scale(.9);
    }
  }

  &__right {
    grid-column: 2/3;
    @include respond-to(tab-port) {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: center;
    }
    img {
      width: 100%;
    }
  }
}

// ---- CATEGORY-SECTION ---- //

.category {
  grid-column: 2 / 10;
  grid-row: 3 / 4;
  margin: 227px 0 297px 0;

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    grid-column-gap: 30px;


    .card {
      height: 557px;

    &__photo {
      text-align: center;

      img {
        padding: 42px 55px;
        box-shadow: $img-shadow;
        border-radius: 20px;
      }
      &:hover {
        transform: translateY(-5px);
        moz-transition: all 0.3s linear;
        webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
      }
    }
    &__body {
      max-width: 339px;
      @include respond-to(tab-port-s) {
        margin: 0 auto;
      }
    }
    &__name {
      margin: 30px 0;
      @include adaptive-font(20, 18);
      line-height: 44px;
      color: $black;
      text-align: center;
      }
    &__description {
      @include adaptive-font(16, 15);
      line-height: 201.7%;
      color: $black;
      }
      &__list {
        margin-top: 20px;
        margin-left: 20px;
        @include respond-to(tab-port-s) {
          margin-left: 112px;
        }
      }
      &__item {
        margin-bottom: 15px;
      }
      &__link {
        @include adaptive-font(16, 15);
        line-height: 22px;
        color: $black;
        &:hover {
          border-bottom: 1px solid $black;
          padding-bottom: 2px;
          transition: all linear $duration;
        }
      }
    }
  }
}

//--- FOOTER ---- //

.footer {
  grid-column: 1/12;
  grid-row: 6/last-line;
  height: 312px;
  background-color: $dark-grey;
  position: relative;
  .footer-wrap {
    display: grid;
    grid-template-columns:  minmax(5rem, 1fr) repeat(10, minmax(min-content, 8rem))  minmax(5rem, 1fr);
    margin: 77px 0 13px 0;
    @include respond-to(tab-port-s) {
      grid-template-columns: minmax(3rem, 1fr) repeat(10, minmax(min-content, 8rem)) minmax(3rem, 1fr);
      grid-template-rows: repeat(2, auto);
      margin-top: 30px;
    }
  }
  &__logo {
    grid-column: 2/3;
    @include respond-to(tab-port-xs) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
  .nav {
    grid-column: 3/8;
    @include respond-to(tab-port-xs) {
      grid-column: 3/13;
      grid-row: 1/2;
    }
    &__list {
      @include horizontal-menu($white);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      justify-items: center;
      @include respond-to(tab-port-xs) {
        justify-items: stretch;
      }
    }

    &__item {
      display: inline-block;
      height: 40px;
      i {
        font-size: 13px;
        color: $white;
      }
    }

    &__item:nth-child(2) {
      position: relative;
    }

    &__link {
      font-weight: bold;
      @include adaptive-font(16, 14);
      line-height: 22px;
    }
  }

  .social-icon {
    grid-column: 9/12;
    @include respond-to(tab-port-xs) {
      grid-column: 2/12;
      grid-row: 2/3;
      margin-top: 93px;
    }
    @include horizontal-menu($black-s);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    justify-items: end;
    @include respond-to(tab-port-xs) {
      justify-items: center;
    }
    &__item {
      display: inline-block;
    }
    &__link {
      i {
        padding: 5px 5px;
        background-color: $white;
        border-radius: 50%;
      }
      .special--ok {
        padding: 5px 8px;
      }
    }
  }
  .copy_right {
    position: absolute;
    top: 276px;
    left: 75px;
    span {
      font-weight: bold;
      @include adaptive-font(15, 10);
      line-height: 20px;
      letter-spacing: 0.02em;
      color: #A3A3A3;
    }
  }

  .dropdown-menu {
    position: absolute;

    &__list {
      @include vertical-menu($white)
    }
    &__link {
      @include adaptive-font(16, 14);
    }
    &__item {
      margin: 15px 0;
    }
  }
}

// ---- BREADCRUMB-SECTION ---- //
.breadcrumb {
  grid-column: 2/10;
  grid-row: 2/3;

  &__list {
    @include horizontal-menu($blue);
  }

  &__item {
    display: inline-block;
    &:not(:first-child) {
      margin-left: .8rem;
    }
    &:not(:first-child):before {
      margin-right: .8em;
      color: $blue;
      content: ">";
    }
  }
  .latest {
    @include adaptive-font(16, 12);
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .blue--clr {
    color: #497799;
  }
  .dark--clr {
    color: $a-grey;
  }

  &__link {
    @include adaptive-font(16, 12);
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $blue;
    &:hover {
      border-bottom: 1px solid $s-blue;
      padding-bottom: 1px;
      transition: all ease $duration, opacity $duration;
    }
  }
}
.all--margin {
  margin: 60px 0 40px 0;
}

// ---- MAZE PAGE ---- //
.about-maze {
  grid-column: 2/10;
  grid-row: 3/4;
  margin-bottom: 60px;
  color: $dark;
  @include respond-to(tab-port-xs) {
    display: none;
  }
}
.maze-tales {
  grid-column: 2/10;
  grid-row: 4/5;
  .card-size {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    @include respond-to(phone) {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
}

.title {
  @include adaptive-font(40, 28);
  line-height: 54px;
  text-align: center;
}
.text {
  margin-top: 40px;
  @include adaptive-font(18, 15);
  line-height: 201.7%;
}
.about-wrap {
  max-width: 734px;
  margin: 0 auto;
}

.card-container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  margin: 70px 0 100px 0;
  @include respond-to(tab-port-xs) {
    margin-top: 0;
    margin-bottom: 100px;
  }

}

.card-tale {
  box-shadow: $card-shadow;
  border-radius: 10px;

  &__photo {
    img {
      width: 100%;
    }
  }
  .wrapin {
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: space-between;
    @include respond-to(tab-port-xs) {
      margin: 10px 0 20px 0;
    }
  }
  &__info {
    padding: 30px 25px 30px 25px;
  }

  &__name {
    font-weight: bold;
    @include adaptive-font(20, 16);
    line-height: 27px;
    letter-spacing: 0.02em;
    color: $black;
  }
  &__author {
    @include adaptive-font(16, 12);
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $a-grey;
  }
  &__category {
    @include adaptive-font(16, 12);
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $a-grey;
  }
  &__text {
    margin-bottom: 30px;
    @include adaptive-font(16, 14);
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #333333;
    @include respond-to(tab-port-xs) {
      margin-bottom: 0;
    }
  }

  &:hover {
    box-shadow: $active-card;
    transform: translateY(-5px);
    moz-transition: all 0.3s linear;
    webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

// ---- CATALOG PAGE ---- //
.catalog {
  grid-column: 2/10;
  grid-row: 3/4;

  .card-size{
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
.catalog--margin {
  margin: 60px 0 90px 0;
}

// TEACH TALE PAGE
.teach-tales {
  grid-column: 2/10;
  grid-row: 4/6;
  margin: 71px 0 110px 0;
  .title {
    margin-bottom: 45px;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: $dark;
    text-align: left;
  }

  .item__text {
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 22px;
    color: $black;

  }
  .slick-slide {
    transform: scale(0.8);
    opacity: 0.7;
    moz-transition: all ease $duration;
    webkit-transition: all ease $duration;
    transition: all ease $duration;
  }
  .slick-slide.slick-current {
    transform: scale(1);
    opacity: 1;
    box-shadow: $box-shadow;
  }

  /* slide-wrapper */

  .slide-wrapper {
    width: 78vw;
    margin: 0 auto;
    .slick-arrow {
      @include base-btn;
      position: absolute;
      bottom: 50%;
      background: none;
      z-index: 99;
      font-size: 22px;
      color: $arrow-clr;
    }
    .prev-1 {
      left: 2%;
    }
    .next-1 {
      left: 98%;
    }
  }
  .wrapin {
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: space-between;
  }
}

// ---- PAGINATION ---- //

.pagination {
  grid-column: 2/10;
  grid-row: 5/6;
  margin: 90px 0 75px 0;
  display: flex;
  justify-content: center;
  @include respond-to(tab-port) {
    margin: 50px 0 50px 0;
  }
  &__btn {
    margin: 0 10px;
    padding: 10px 18px;
    border: 1px solid $border-clr;
    border-radius: 5px;
    @include adaptive-font(22, 16);
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $light-blue;
  }
}

// ---- DETAIL PAGE ---- //

.detail {
  grid-column: 2/10;
  grid-row: 3/6;
  margin-top: 50px;
  .detail-wrapper {
    max-width: 633px;
    margin: 0 auto;
    padding-bottom: 134px
  }
  .text-wrap {
    margin-right: 30px;
    padding: 12px 0;
  }
  .l-width {
    max-width: 211px;
  }
  g-width {
    max-width: 269px;
  }
  &__title {
    margin-bottom: 40px;
    font-weight: normal;
    @include adaptive-font(38, 18);
    line-height: 52px;
    color: $dark;
  }
  &__text {
    @include adaptive-font(18, 15);
    line-height: 200%;
    color: $black;
  }
  &__image {
    margin: 30px 0;
    width: 100%;
  }

  .btn-block {
    width: 100%;
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: space-around;
  }
  &__btn {

    padding: 15px 70px;
    background: $white;
    box-shadow: $default-btn-shadow;
    border-radius: 40px;
    border: 2px solid $border-btn-color;
    font-weight: bold;
    @include adaptive-font(22, 13);
    line-height: 30px;
    color: $clr-default;

    &:hover {
      box-shadow: $active-btn-shadow;
      color: $clr-active;
      transform: scale(1);
      moz-transition: all $duration ease;
      webkit-transition: all $duration ease;
      transition: all $duration ease;
    }
  }

  &__author {
    display: block;
    justify-self: start;
    @include adaptive-font(18, 12);
    color: $black;
  }
}
// ---- DETAIL PARENT AND TEACH PAGE ---- //
.tales-wrapper {
  margin: 60px 0 85px 0;
  .main-title {
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 34px;
    line-height: 46px;
    color: #455A64;
  }
  .tale {
    display: flex;
    margin-bottom: 50px;
    &__description {
      max-width: 592px;
      margin-left: 30px;
    }
    &__heading {
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: $black;
    }
    &__text {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #333333;
    }
  }
}

// ---- SEARCH PAGE ---- //

.search-result {
  grid-column: 2/10;
  grid-row: 4/5;
  .page-header {
    margin-top: 10px;
    text-align: center;
    color: $dark;
  }
  &__title {
    display: inline-block;
    margin-right: 25px;
    font-weight: normal;
    @include adaptive-font(36, 16);
    line-height: 49px;
    text-align: center;

  }
  .search-word {
    font-weight: bold;
    @include adaptive-font(36, 16);
    line-height: 49px;
    text-decoration: underline;
  }
  .fail {
    display: flex;
    align-items: center;
    padding-bottom: 347px;
    &__info {
      margin-right: 30px;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.02em;
      color: $black;
    }
    &__item {
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      text-decoration-line: underline;
      color: $black;
    }
  }


.block-result {
  margin: 70px 0 90px 0;

  h2 {
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 34px;
    line-height: 46px;
    color: #455A64;
  }
}
  .tale {
    display: flex;
    align-items: flex-end;
    &__short-content {
      max-width: 633px;
      margin-left: 30px;
    }
    &__title {
      margin-bottom: 5px;
      font-weight: normal;
      @include adaptive-font(20, 16);
      line-height: 27px;
      letter-spacing: 0.02em;
      color: #333333;
    }
    &__author {
      @include adaptive-font(16, 12);
      line-height: 22px;
      letter-spacing: 0.02em;
      color: $a-grey;
    }
    &__text {
      margin-top: 13px;
      @include adaptive-font(16, 13);
      line-height: 30px;
      letter-spacing: 0.02em;
      color: $black;
    }
  }
}

